<?xml version="1.0"?>
<config>
    <modules>
        <Iterator_Nfe>
            <version>1.0.0</version>
        </Iterator_Nfe>
    </modules>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Iterator_Nfe before="Mage_Adminhtml">Iterator_Nfe_Adminhtml</Iterator_Nfe>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <nfe module="Iterator_Nfe">
                    <file>iterator_nfe.xml</file>
                </nfe>
            </updates>
        </layout>
    </adminhtml>
    
    <global>
        <models>
            <nfe>
                <class>Iterator_Nfe_Model</class>
                <resourceModel>nfe_mysql4</resourceModel>
            </nfe>
            <nfe_mysql4>
                <class>Iterator_Nfe_Model_Mysql4</class>
                <entities>
                    <nfe>
                        <table>iterator_nfe</table>
                    </nfe>
                    <nferange>
                        <table>iterator_nfe_range</table>
                    </nferange>
                    <nfemunicipio>
                        <table>iterator_nfe_municipio</table>
                    </nfemunicipio>
                    <nfereferenciado>
                        <table>iterator_nfe_referenciado</table>
                    </nfereferenciado>
                    <nfeidentificacao>
                        <table>iterator_nfe_identificacao</table>
                    </nfeidentificacao>
                    <nfeproduto>
                        <table>iterator_nfe_produto</table>
                    </nfeproduto>
                    <nfeprodutoimportexport>
                        <table>iterator_nfe_produto_importexport</table>
                    </nfeprodutoimportexport>
                    <nfeprodutoespecifico>
                        <table>iterator_nfe_produto_especifico</table>
                    </nfeprodutoespecifico>
                    <nfeprodutoimposto>
                        <table>iterator_nfe_produto_imposto</table>
                    </nfeprodutoimposto>
                </entities>
            </nfe_mysql4>
        </models>
        <blocks>
            <nfe>
                <class>Iterator_Nfe_Block</class>
            </nfe>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Iterator_Nfe_Block_Adminhtml_Order_Grid</sales_order_grid>
                    <sales_order_view>Iterator_Nfe_Block_Adminhtml_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <nfe_setup>
                <setup>
                    <module>Iterator_Nfe</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nfe_setup>
            <nfe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nfe_write>
            <nfe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nfe_read>
        </resources>
        <helpers>
            <nfe>
                <class>Iterator_Nfe_Helper</class>
            </nfe>
        </helpers>
    </global>  
    
    <crontab>
        <jobs>
            <processa_nfe>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>nfe/observer::gerarNfe</model>
                </run>
            </processa_nfe>
        </jobs>
    </crontab>
    
</config>
