<!--@subject  {{var order.getStoreGroupName()}}: {{var nfe_name}} (NF-e) emitida para o pedido # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var invoice.increment_id":"Invoice Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var nfe_chave":"NFe Key",
"layout area=\"frontend\" handle=\"sales_email_order_invoice_items\" invoice=$invoice order=$order":"Invoice Items Grid",
"var comment":"Invoice Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Prezado(a) {{htmlescape var=$order.getCustomerName()}}</strong>,<br/><br/>
                        Informamos que a {{var nfe_name}} (NF-e) para o seu pedido j&aacute; foi emitida.<br/>
                        Para consultar a NF-e emitida, acesse o <a href="http://www.nfe.fazenda.gov.br/portal/consulta.aspx?tipoConsulta=resumo&amp;tipoConteudo=d09fwabTnLk=" style="text-decoration:underline;color:#333333" target="_blank">Portal da Nota Fiscal Eletr&ocirc;nica do Minist&eacute;rio da Fazenda</a>.<br/> 
                        A Chave de Acesso da NF-e &eacute;: <b>{{var nfe_chve}}</b><br/>
                        Se voc&ecirc; tiver qualquer d&uacute;vida sobre seu pedido, por favor, sinta-se &agrave; vontade para contatar-nos em <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou telefone <span class="nobr">{{config path='general/store_information/phone'}}</span> em hor&aacute;rio comercial.
                    </p>
                    <h3 style="border-bottom:2px solid #eee; font-size:1.05em; padding-bottom:1px; ">
                        Sua NF-e #{{var nfe_chve}} foi emitida para o pedido #{{var order.increment_id}}
                    </h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" bgcolor="#856e3d" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em; color:#fff;">Arquivos da Nota Fiscal Eletr&ocirc;nica (NF-e):</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                <a href="{{var xml_url}}"><img title="Arquivo XML" alt="Arquivo XML" src="{{var xml_img}}" width="64" /></a>
                                <a href="{{var pdf_url}}"><img title="Arquivo PDF" alt="Arquivo PDF" src="{{var pdf_img}}" width="64" /></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    Junto com a mercadoria, ser&aacute; entregue o Documento Auxiliar da {{var nfe_name}} (DANFE), que &eacute; uma vers&atilde;o simplificada da NF-e.<br/>
                    <p><br/>Atenciosamente,<br/><br/><strong>{{var store.getFrontendName()}}</strong><br/><a href="http://www.perfumesimportadosjf.com.br">http://www.perfumesimportadosjf.com.br</a><br/><br/>Curta nossa Fan Page no Facebook <a href="http://www.facebook.com/pages/Perfumes-Importados-JF/297404307026319">{{var store.getFrontendName()}}</a></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>